@{
    ViewData["Title"] = "角色管理";
}
@section Search{
    <tr>
        <td style="width:200px">角色名称:</td>
        <td style="width:400px"><input type="text" id="SroleName" name="SroleName" class="layui-input"></td>
        <td style="width:200px;">备注:</td>
        <td style="width:400px"><input type="text" id="Sremarks" name="Sremarks" class="layui-input"></td>
    </tr>
}
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script src="~/Admin/Roles/Index.js?_=@DateTime.Now.ToString(" yyyyMMddHHmmss")"></script>
}
